/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
header {
    font-family: Helvetica, Arial, sans-serif;
}
/* header top */
.header-top {
    background-color: black;
}
.header-top img {
    width: 110px;  
    padding: 12px;
    
}
.ms_col {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

/* header bottom */
.header-bottom {
    width: 100%;
    position: fixed;
    
}
.header-bottom i {
    color: lightgrey;
}
.header-bottom button {
    border-radius: 20%;
    
}
.header-bottom img {
    
}